<!DOCTYPE html>
<html>
<head>
    <title>Gestor LDAP - Usuários</title>
    </head>
<body>
    <h1>Lista de Usuários</h1>
    <a href="{{ url_for('create_user_form_route') }}">Novo Usuário</a>
    <table>
        <thead>
            <tr>
                <th>UID</th>
                <th>Nome Completo (CN)</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.get('uid', 'N/A') }}</td>
                <td>{{ user.get('cn', 'N/A') }}</td>
                <td>{{ user.get('mail', 'N/A') }}</td>
                <td>
                    <a href="{{ url_for('edit_user_form_route', username=user.get('uid')) }}">Editar</a>
                    </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">Nenhum usuário encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
